.logo {
  float: left;
  height: 75px;
  align-items: center;
  justify-content: center;
  width: 250px;
  margin: 0;
  padding: 0;
  background-color: #001529;
  span {
    display: block;
    width: 177px;
    height: 47px;
    background-color: #1a2d3f;
  }
}

.close {
  .logo {
    width: 80px !important;
    transition: all 0.2s ease;
    span {
      width: 100%;
    }
  }
}

.header-worp {
  margin-left: 20px;
  .collapsed-icon {
    font-size: 24px;
    cursor: pointer;
  }
}
